body
{
    margin: auto;
    font-family: Helvetica;
    font-size: 1.5rem;
}

#myForm
{
    margin: auto;
    padding-top: 3rem;
    max-width: 50rem;
}

legend
{
    font-size: 2.5rem;
    background-color: white;
    border: 0.2rem solid #DDD;
    padding: 1rem;
    margin-left: 1rem;
}

fieldset
{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F5F5F5;
    border: 0.2rem solid #DDD;
    border-radius: 4px;
}

.container
{
    padding: 1.5rem;
}


.form
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#fullname
{
    width: 17rem;
    height: 2rem;
    margin-top: 0.5rem;
    border: 0.1rem solid #DDD;
    border-radius: 4px;
}

#email
{
    width: 17rem;
    height: 2rem;
    margin-top: 0.5rem;
    border: 0.1rem solid #DDD;
    border-radius: 4px;
}

#message
{
    width: 46rem;
    height: 2rem;
    margin-top: 0.5rem;
    border: 0.1rem solid #DDD;
    border-radius: 4px;
    height: 4rem;
}


#submit-button
{
    width: 8rem;
    height: 2.2rem; 
    margin: 1rem; 
    background-color: #6495ED; 
    border: none;
    border-radius: 4px;
}

@media screen and (max-width: 25rem) 
{
    #myForm
    {
        margin: auto;
        max-width: 23rem;
    }

    .form
    {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        
        
    }

    .container
    {
        padding: 2rem;
    }

    #fullname
    {
        width: 19rem;
    }
    
    #email
    {
        width: 19rem;
    }
    
    #message
    {
        width: 19rem;
    }
    
    
    
    #submit-button
    {
        width: 15rem;
    }
}


@media screen and (max-width: 40rem) and (min-width: 25rem)
{
    #myForm
    {
        margin: auto;
        max-width: 36rem;
    }

    

    .form
    {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .container
    {
        padding: 1rem;
        
    }

    #fullname
    {
        width: 14.5rem;
    }
    
    #email
    {
        width: 14.5rem;
    }
    
    #message
    {
        width: 31rem;
    }
    
    
    
    #submit-button
    {
        width: 32rem;
    }
}


